<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.communityproject.mapper.CommentMapper">
    <insert id="createComment">
        insert into comment(parent_id,type,create_time,modified_time,like_count,commenter,comment)
        values(#{parentId},#{type},#{createTime},#{modifiedTime},#{likeCount},#{commenter},#{comment})
    </insert>

    <update id="updateCommentById">
        update comment
        set comment=${comment},like_count=#{likeCount},modified_time=#{modifiedTime}
        where id=#{id}
    </update>

    <select id="getCommentsComm" resultType="com.lin.communityproject.entity.CommentEntity">
        select c.id,c.parent_id,c.type,c.commenter,c.`comment`,c.like_count,c.create_time,c.modified_time,
        from comment  c
        left join (select * from comment where parent_id=#{parentd}) t
        on t.id=c.parent_id
        where c.type=2
    </select>
</mapper>
