<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.communityproject.mapper.QuestionMapper">

    <insert id="createQuestion" parameterType="com.lin.communityproject.entity.QuestionEntity" useGeneratedKeys="true" keyProperty="id">
        insert into question(title,content,tag,create_time,modified_time,creator,comment_count,view_count,like_count)
        values(#{title},#{content},#{tag},#{createTime},#{modifiedTime},#{creator},#{commentCount},#{viewCount},#{likeCount});
    </insert>
    <update id="updateQues" parameterType="com.lin.communityproject.entity.QuestionEntity">
        update question
        set title=#{title},tag=#{tag},content=#{content},modified_time=#{modifiedTime}
        where id=#{id}
    </update>
    <update id="incrViewCount">
        update question
        set view_count=view_count+1
        where id=#{id}
    </update>
    <update id="incrCommentCount">
        update question
        set comment_count=comment_count+1
        where id=#{id}
    </update>
<!--    更新comment_count和view_count的set可以写成：set view_count+=#{view_count,jdbcType=Integer} ==> 如果viewcount不超过10次就先将数据存在内存中，满足10次才存到数据库，减少和数据库的交互 -->
</mapper>
