body{
    background-color:#e0e0e0;
}
.publish{
    margin: 30px 50px;
    background-color: white;
}
.pub-content{
    border-right: 2px solid #e0e0e0;
}
.btn-publish{
    float:right;
    margin-bottom: 30px;
}
.foundLi{
    list-style-type: none;
}
.count{
    font-size: 12px;
    font-weight: normal;
    color:#999;
}
.profileTable{
    margin-top:30px;
}
.profileTable>tbody>tr>td{
    border:0px;
    text-align: center;
}
.tags{
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #999;
}
.jumbotron{
    margin: 50px;
}
.media-body{
    padding-top: 20px;
}
.marginSet{
    margin: 10px 0px;
}
.liBorder{
    /*border:none;*/
    border-right: none;
    border-left: none;
    padding: 0;
}
.commentMenu{
    color: #999;
    margin-top: 10px;
}
.commentMenu .icon{
    margin-right: 8px;
    cursor: pointer;
}
.commentMenu .icon:hover{
    color: #499cf3;
}
/*.commentMenu .icon:active {*/
/*    color: #499cf3;*/
/*}*/
.activeC{
    color: #499cf3;
}
.subCommDiv{
    border: 1px solid #e0e0e0;
}
.comments{
    border-bottom: 1px solid #e0e0e0;
}