<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CommunityProject</title>
    <div th:include="common::bootstrapCS"></div>
    <script type="text/javascript">
        //当文档加载完成后加载一下，(也就是实现回复未登录再登录后不打开新页面)
        window.onload = function (){
            if(window.localStorage.getItem("isAjax")){//或者 == "true"
                window.close()
                window.localStorage.removeItem("isAjax")//避免一直存在，影响访问主页
            }
        }
    </script>
</head>
<body>

    <div th:replace="common::nav"> </div>

    <div class="container-fluid publish">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pub-content" >
                <h1><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现 </h1>
                <hr>
                <div class="media " th:each="question:${pagination.questions}">
                    <div class="media-left">
                        <a href="#">
                            <!--thymeleaf中链接要用@{}-->
                            <img class="media-object" style="width:40px;height: 40px"
                                 th:src="${question.user.avatarUrl}"
                                 src="https://avatars.githubusercontent.com/u/96112575?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" >
                            <a th:href="@{'/question/detail/'+${question.id}}"><span th:text="${question.title}"></span></a>
                        </h4>
                        <span class="count">
                            ·<span th:text="${question.commentCount}"></span>人评论
                            ·<span th:text="${question.viewCount}"></span>次阅览
                            ·<span th:text="${question.likeCount}"></span>个点赞
                            <!--   发布时间  时间戳  ${#dates.format(question.createTime, 'yyyy-MM-dd HH:mm')} (由于数据库中直接存了格式化的时间所以可以直接使用)-->
                            <span th:text="${question.createTime}"></span>
                        </span>
                    </div>
                </div>

                <nav aria-label="Page navigation" th:if="${pagination.questions!=null}">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/index?page=1'}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPre}">
                            <a th:href="@{'/index?page='+${pagination.currentPage-1}}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page:${pagination.pages}" th:class="${page==pagination.currentPage}?'active':''">
                            <a th:href="@{'/index?page='+${page}}"  th:text="${page}"></a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/index?page='+${pagination.currentPage+1}}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/index?page='+${pagination.totalPage}}"  aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h3>热门话题</h3>

            </div>
        </div>
    </div>
</body>
</html>
